#modal-global {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#modal-container {
    border-radius: 12px;
    position: relative;
    width: clamp(30%, 800px, 90%);
    height: clamp(50%, 800px, 90%);
    padding: 1% 5% 3% 5%;
}

.svg-inline--fa.fa-xmark {
    font-size: 2rem;
    position: absolute;
    top: 4%;
    right: 7%;
    cursor: pointer;
}

#modal-container h2 {
    display: flex;
    font-style: italic;
    align-items: center;
    justify-content: center;
    height: 30%;
    font-size: 1.8rem;
}

@media screen and (max-width: 500px){
    #modal-container h2 {
        height: 40%;
    }
}