#calendar-section td{
   text-align: center;
}

#calendar-section thead {
   font-size: 28px;
}

#calendar-section th {
   padding-bottom: 4%;
   width: calc(100% / 7);
}

#calendar-section td {
   padding: 0.5% 0;
}

#calendar-section span {
   display: inline-block;
   line-height: 3.6;
   margin: 0 auto;
   width: 60px;
   height: 60px;
   border-radius: 10px;
   cursor: pointer;
   font-weight: 700;
   background-color: transparent;
   transition: background-color 0.1s linear;
}

#calendar-section .not-month span {
   font-weight: 300;
   cursor: not-allowed;
}

.day-calendar.not-month {
   color: #888;
}