#form-container.event-form-container {
    overflow-y: scroll;
    justify-content: space-between;
}

#form-container.event-form-container::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

#form-container.event-form-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.day-event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8% 0;
    padding: 0 5%;
}

.day-event > div {
    display: flex;
    align-items: center;
    flex: 60%;
}

.day-event > div > svg{
    margin-right: 3%;
    color: red;
    transition: background-color 0.2s linear;
}

.day-event > div > svg:hover{
    color: darkred;
}

.hour-event {
    font-size: 1.3rem;
}

#add-event-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#add-event-form input {
    padding: 3%;
    font-size: 1.2rem;
    border-radius: 10px;
}

#add-event-form input[type='submit']{
    width: 15%;
    border: 0;
    color: #eee;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.1s linear;
}


#add-event-form input[type='submit']:hover{
    background-color: darkgreen;
}

#event-title {
    width: 45%;
}

#event-hour {
    width: 30%;
}


@media screen and (max-width: 500px){
    #event-title {
        width: 45%;
    }
    
    #event-hour {
        width: 30%;
    }

    #add-event-form input[type='submit']{
        width: 25%;
    }
}