#form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: 70%;
}

#form-container h3, #form-container label {
    margin-bottom: 5%;
}

#form-container svg{
    font-size: 2rem;
    cursor: pointer;
}

#form-container input[type="text"],
#form-container input[type="number"],
#form-container input[type="time"] {
    border: 1px solid #111;
    background-color: #fff;
}

#form-container input[type="text"]:focus-visible,
#form-container input[type="number"]:focus-visible,
#form-container input[type="time"]:focus-visible {
    outline: 0;
}

@media screen and (max-width: 500px){
    #form-container {
        height: 60%;
    }
}