*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a {
  all: unset;
}

time::selection, p::selection, span::selection, td::selection, th::selection {
  background-color: transparent;
  color: inherit;
}


#root {
  height: clamp(100vh, 100vh, 100vh);
}